{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Duewiger Projects - Software Development{% endblock title %}</title>
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Google reCaptcha -->
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- WhatsApp Chat-Button -->
    <a href="https://wa.me/+491727452773/?text=Hallo%20Herr%20Duewiger,%20gerne%20möchte%20ich%20Sie%20als%20Freelancer%20für%20die%20Entwicklung%20beauftragen." class="float" target="_blank">
        <i class='bx bxl-whatsapp' ></i>
    </a>
</head>
<body>

    <header class="header">
        <a href="{% url 'home' %}" class="logo">Kilian<span> Duewiger</span></a>
        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <!-- Home => Entwicklerbeschreibung, Education, Programmiersprachen, Tools ... -->
            <a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a>
            <a class="{% if request.path == '/projects/' %}active{% endif %}" href="{% url 'projects' %}">Projects</a>
            <a class="{% if request.path == '/services/' %}active{% endif %}" href="{% url 'services' %}">Services</a>
            <a class="{% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
            <a class="{% if request.path == '/imprint/' %}active{% endif %}" href="{% url 'imprint' %}">Imprint</a>
            <a class="{% if request.path == '/privacy/' %}active{% endif %}" href="{% url 'privacy' %}">Privacy</a>
        </nav>
    </header>

    {% block content %}{% endblock content %}

    <footer class="footer">
        <div class="social">
            <a href="https://github.com/Duewiger"><i class='bx bxl-github'></i></a>
            <a href="https://www.youtube.com/@Duewiger"><i class='bx bxl-youtube'></i></a>
            <a href="https://www.linkedin.com/in/kilian-düwiger-6a235b328/"><i class='bx bxl-linkedin'></i></a>
            <a href="https://play.google.com"><i class='bx bxl-play-store'></i></a>
        </div>

        <ul class="list">
            <li><a href="{% url 'imprint' %}">Imprint</a></li>
            <li><a href="{% url 'privacy' %}">Privacy</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <p class="copyright">
            © Duewiger UG | All Rights Reserved
        </p>
    </footer>

    <!-- My JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        //////////////// !Maintenance Warning!/////////////////////////////////
        window.alert("!ATTENTION! This website is under maintenance until October 6th, 2024. Technical errors may occur.")
        //////////////////////////////////////////////////////////////////////

        const playStoreState = () => {
            window.alert("Unfortunately, this app has not yet been released by the PlayStore, but will be released shortly.");
        };
    </script>
</body>
</html>