{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Duewiger Projects - Contact{% endblock title %}

{% block content %}

<section class="contact" id="contact">
  <h2 class="heading">Contact <span>Me</span></h2>

  <form method="post">
    {% csrf_token %}
    <div class="input-group">
      <div class="input-box">
        {{ form.name|as_crispy_field }}
        {{ form.email|as_crispy_field }}
      </div>
      <div class="input-box">
        {{ form.phone|as_crispy_field }}
        {{ form.subject|as_crispy_field }}
      </div>
    </div>

    <div class="input-group-2">
      {{ form.message|as_crispy_field }}
      {{ form.captcha|as_crispy_field }}
      <input type="submit" value="Send Message" class="btn">
    </div>
  </form>
</section>

{% endblock content %}