{% extends "_base.html" %}
{% load static %}

{% block title %}Duewiger Projects - Full-Stack Software Development{% endblock title %}

{% block content %}

<section class="home" id="home">
  <div class="home-content">
    <h1>Hey, It's <span>Kilian</span></h1>
    <h3 class="text-animation">I'm a <span></span></h3>
    <p>Full-stack Python developer with C++ (CPython API) expertise and data science engineering. Backend specialization in Django and frontend with Flet (over 4 years).</p>

    <div class="social-icons">
      <a href="https://github.com/Duewiger"><i class='bx bxl-github'></i></a>
      <a href="https://www.youtube.com/@Duewiger"><i class='bx bxl-youtube'></i></a>
      <a href="https://www.linkedin.com/in/kilian-düwiger-6a235b328/"><i class='bx bxl-linkedin'></i></a>
      <a href="https://play.google.com"><i class='bx bxl-play-store'></i></a>
    </div>

    <div class="btn-group">
      <a href="https://wa.me/+491727452773/?text=Hallo%20Herr%20Duewiger,%20gerne%20möchte%20ich%20%20Sie%20als%20Freelancer%20für%20die%20Entwicklung%20beauftragen." class="btn">Hire</a>
      <a href="{% url 'contact' %}" class="btn">Contact</a>
    </div>
  </div>
    <div class="home-img">
      <img src="{% static '/images/Profilfoto_Kilian_Duewiger.jpeg' %}" alt="A friendly profile picture of Kilian Duewiger">
    </div>
</section>

<section class="education" id="education">
  <h2 class="heading">Education</h2>
  <div class="timeline-items">

    <div class="timeline-item">
      <div class="timeline-dot">
        <div class="timeline-date">2020</div>
        <div class="timeline-content">
          <h3>High School</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At provident soluta itaque illum praesentium perferendis nobis ducimus ipsam temporibus! Harum deleniti voluptatibus similique reprehenderit incidunt magnam repellendus facilis aut cupiditate?</p>
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot">
        <div class="timeline-date">2021</div>
        <div class="timeline-content">
          <h3>High School</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At provident soluta itaque illum praesentium perferendis nobis ducimus ipsam temporibus! Harum deleniti voluptatibus similique reprehenderit incidunt magnam repellendus facilis aut cupiditate?</p>
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot">
        <div class="timeline-date">2022</div>
        <div class="timeline-content">
          <h3>High School</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At provident soluta itaque illum praesentium perferendis nobis ducimus ipsam temporibus! Harum deleniti voluptatibus similique reprehenderit incidunt magnam repellendus facilis aut cupiditate?</p>
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot">
        <div class="timeline-date">2023</div>
        <div class="timeline-content">
          <h3>High School</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At provident soluta itaque illum praesentium perferendis nobis ducimus ipsam temporibus! Harum deleniti voluptatibus similique reprehenderit incidunt magnam repellendus facilis aut cupiditate?</p>
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot">
        <div class="timeline-date">2024</div>
        <div class="timeline-content">
          <h3>High School</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At provident soluta itaque illum praesentium perferendis nobis ducimus ipsam temporibus! Harum deleniti voluptatibus similique reprehenderit incidunt magnam repellendus facilis aut cupiditate?</p>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock content %}