{% extends "_base.html" %}
{% load static %}

{% block title %}Duewiger Projects - Full-Stack Software Development{% endblock title %}

{% block content %}

<section class="home" id="home">
  <div class="home-content">
    <h1>Hey, It's <span>Kilian</span></h1>
    <h3 class="text-animation">I'm a <span></span></h3>
    <p>Full-stack Python developer with C++ (CPython API) expertise and data science engineering. Backend specialization in Django and frontend with Flet (over 4 years).</p>

    <div class="social-icons">
      <a href="https://github.com/Duewiger"><i class='bx bxl-github'></i></a>
      <a href="https://www.youtube.com/@Duewiger"><i class='bx bxl-youtube'></i></a>
      <a href="https://www.linkedin.com/in/kilian-düwiger-6a235b328/"><i class='bx bxl-linkedin'></i></a>
      <a href="https://play.google.com"><i class='bx bxl-play-store'></i></a>
    </div>

    <div class="btn-group">
      <a href="https://wa.me/+491727452773/?text=Hallo%20Herr%20Duewiger,%20gerne%20möchte%20ich%20%20Sie%20als%20Freelancer%20für%20die%20Entwicklung%20beauftragen." class="btn">Hire</a>
      <a href="{% url 'contact' %}" class="btn">Contact</a>
    </div>
  </div>
    <div class="home-img">
      <img src="{% static '/images/Profilfoto_Kilian_Duewiger_Square.png' %}" alt="A friendly profile picture of Kilian Duewiger">
    </div>
</section>

<section class="education" id="education">
  <h2 class="heading">Timeline - Education and Experience</h2>
  
  <div class="timeline-items">

    <div class="timeline-item">
      <div class="timeline-dot"></div>
        <div class="timeline-date">04/2020</div>
        <div class="timeline-content">
          <p>Began my journey into web development, learning HTML, CSS, JavaScript, PHP, and MySQL while creating the first applications for my small business as an insurance broker.</p>
        </div> 
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
        <div class="timeline-date">06/2020</div>
        <div class="timeline-content">
          <p>Took on the first web development orders, building websites and handling related tasks for clients.</p>
        </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
        <div class="timeline-date">10/2020</div>
        <div class="timeline-content">
          <p>Initiated self-study in Python, exploring frameworks like Django, Flask, and TensorFlow, as well as C++ (via the CPython API) to optimize my Python applications.</p>
        </div>  
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
        <div class="timeline-date">11/2020 - 01/2023</div>
        <div class="timeline-content">
          <p>Dedicated myself to daily coding and learning, completing hundreds of courses, books, tasks, and personal projects to deepen my expertise.</p>
        </div>      
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
        <div class="timeline-date">03/2023 - 05/2023</div>
        <div class="timeline-content">
          <p>After selling my insurance business, I enrolled in a full-time Python course to prepare for developer roles in professional projects.</p>
        </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
        <div class="timeline-date">04/2023</div>
        <div class="timeline-content">
          <p>I started studying computer science to formalize my knowledge and supplement my practical experience.</p>
        </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
        <div class="timeline-date">06/2023</div>
        <div class="timeline-content">
          <p>Engaged in my first freelance projects using Python. Gained hands-on experience with real-world applications, including mobile app development, full-stack web, and desktop application creation.</p>
        </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
        <div class="timeline-date">12/2023 - 08/2024</div>
        <div class="timeline-content">
          <p>Transitioned into IT administration, managing MDMs on Windows and macOS, integrating Linux MDM solutions, and setting up server environments for a start-up. This role significantly expanded my technical skill set, as I developed Bash and Python scripts to bridge DevOps, databases, and various tech stacks, while resolving complex infrastructure issues.</p>
        </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
        <div class="timeline-date">Until Today</div>
        <div class="timeline-content">
          <p>Continuing my self-taught learning journey, working on diverse projects, and building expertise in Python, C++, and full-stack data science. Actively exploring fields like Linux server management, cloud services (e.g., AWS), and databases to broaden my overall technical skills.</p>
        </div>
    </div>

  </div>
</section>

{% endblock content %}