{% extends '_base.html' %}
{% load static %}

{% block title %}Duewiger Projects - Imprint{% endblock title %}

{% block content %}
<section class="imprint-section">
    <div class="content text-centered">
        <h2 class="heading heading-imprint">Imprint</h2>
        
        <p class="text-content-large">
            <strong>Information according to § 5 TMG:<br></strong> 
            Duewiger Easy UG (limited liability)<br> 
            Owner and Managing Director: Kilian Düwiger<br> 
            Rissener Dorfstraße 51<br> 
            22559 Hamburg<br> 
            Email: kd@duewiger.com<br> 
            Phone: +49 (0) 172 745 27 73<br> 
            Website: www.duewiger-projects.com<br><br>
            Register Court: Hamburg District Court<br>
            Commercial Register: HRB 183240<br>
            Tax Number: 42/716/02591<br>
            VAT ID:<br><br>
            VAT Identification Number<br> according to § 27 a Value Added Tax Act: applied for<br><br>
            <strong>Responsible for the content according to § 55 Para. 2 RStV:<br></strong>
            Kilian Düwiger<br> 
            Rissener Dorfstraße 51<br> 
            22559 Hamburg<br> 
            Germany<br>
        </p>
    </div>
</section>
{% endblock content %}