{% extends '_base.html' %}
{% load static %}

{% block title %}Duewiger Projects - Impressum{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center text-content-container">
    <div class="content">
        <h2 class="text-content">
            Impressum
        </h2>
        <p class="text-start lh-sm fw-normal fs-3 text-content">
            <strong>Angaben gemäß § 5 TMG:</strong>
        </p>
        <p class="text-start lh-sm fw-normal fs-3 text-content">
            Duewiger Easy UG (haftungsbeschränkt)<br>Inhaber und Geschäftsführer: Kilian Düwiger<br>Rissener Dorfstraße 51<br>22559 Hamburg<br>E-Mail: kd@duewiger.com<br>Telefon: +49 (0) 172 745 27 73<br>Website: www.duewiger-projects.com
        </p>
        <p class="text-start lh-sm fw-normal fs-3 text-content">
            Registergericht: Amtsgericht Hamburg<br>
            Handelsregister: HRB 183240<br>
            Steuernummer: 42/716/02591<br>
        </p>
        <p class="text-start lh-sm fw-normal fs-3 text-content">
            Umsatzsteuer-ID:<br>
            Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: beantragt
        </p>
        <p class="text-start lh-sm fw-normal fs-3 text-content">
            <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
            Kilian Düwiger<br>
            Rissener Dorfstraße 51<br>
            22559 Hamburg<br>
            Deutschland<br>
        </p>
    </div>
</div>
{% endblock content %}