{% extends "_base.html" %}
{% load static %}

{% block title %}Duewiger Projects - Current Projects{% endblock title %}

{% block content %}

<section class="projects-cards" id="projects-cards">
  <div class="projects-box">
    <h2 class="heading">Current Projects</h2>

    <div class="wrapper">

      <div class="projects-item">
        <img src="{% static 'images/InsurNative_demo1.png' %}" alt="">
        <h2>InsurNative</h2>
        <p>InsurNative is a mobile app developed using Django for the backend and React Native for the frontend. It allows users to manage their insurance documents, translate content with AI, and communicate with their insurance advisors. Built with AWS for hosting.</p></p>
        <div class="social-icons">
          <a href="https://github.com/Duewiger/InsurNative"><i class='bx bxl-github'></i></a>
          <a href="https://www.youtube.com/shorts/6nG6tJC-Y7A"><i class='bx bxl-youtube'></i></a>
          <a href="#" onclick=playStoreState()><i class='bx bxl-play-store'></i></a>
        </div>
        <p class="social-check">Check the project on several platforms.</p>
      </div>

      <div class="projects-item">
        <img src="{% static 'images/InsurAdmin_demo1.png' %}" alt="">
        <h2>InsurAdmin</h2>
        <p>InsurAdmin is a management app built with Django for the backend and Django Template Language for the frontend. It lets users create accounts, manage their insurance policies, and consult an assistant for support. Designed for seamless policy administration and easy access to information.</p>
        <div class="social-icons">
          <a href="https://github.com/Duewiger/InsurAdmin"><i class='bx bxl-github' ></i></a>
          <a href="#" class="social-icon--disabled"><i class='bx bxl-youtube'></i></a>
          <a href="#" class="social-icon--disabled"><i class='bx bxl-play-store'></i></a>
        </div>
        <p class="social-check">Check the project on several platforms.</p>
      </div>

      <div class="projects-item">
        <img src="{% static 'images/kasgo_logo_300.png' %}" alt="">
        <h2>Kasgo</h2>
        <p>Kasgo is focused on providing fully automated insurance solutions, removing the hassle of manual handling. Currently under development, this project aims to make insurance management effortless, quick, and user-friendly for everyone involved. First Prototypes and tests for users are planned at the end of 2024.</p>
        <div class="social-icons">
          <a href="#" class="social-icon--disabled"><i class='bx bxl-github'></i></a>
          <a href="#" class="social-icon--disabled"><i class='bx bxl-youtube'></i></a>
          <a href="#" class="social-icon--disabled"><i class='bx bxl-play-store'></i></a>
        </div>
        <p class="social-check">Check the project on several platforms.</p>
      </div>

    </div>

  </div>
</section>

{% endblock content %}