{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Duewiger Projects - Services{% endblock title %}

{% block content %}
  <section class="services" id="services">
    <h2 class="heading">Services</h2>

    <div class="services-container">

      <div class="service-box">
        <div class="service-info">
          <h4>Backend Development</h4>
          <p class="service-text-web">I specialize in building robust and scalable backend systems using Django and FastAPI. With 4 years of experience, I ensure secure data management, efficient database interactions, and seamless API integrations.</p>
          <p class="service-text-mobile">Django or FastAPI for stable Backend solutions.</p>
        </div>
      </div>

      <div class="service-box">
        <div class="service-info">
          <h4>Frontend Development</h4>
          <p class="service-text-web">My expertise in frontend development includes creating intuitive, responsive designs using React Native and Django templates. I focus on delivering a smooth user experience with attention to detail in UI/UX design.</p>
          <p class="service-text-mobile">Flet or React for Mobile and Web Applications.</p>
        </div>
      </div>

      <div class="service-box">
        <div class="service-info">
          <h4>Bug Fixes and Maintenance</h4>
          <p class="service-text-web">I provide thorough debugging and maintenance services to keep your applications running smoothly. From fixing code issues to optimizing performance, I ensure your software is always up-to-date and reliable</p>
          <p class="service-text-mobile">From fixing code issues to optimizing performance.</p>
        </div>
      </div>

      <div class="service-box">
        <div class="service-info">
          <h4>Testing</h4>
          <p class="service-text-web">Comprehensive testing is a key part of my development process, including unit, integration, and end-to-end testing. I utilize best practices to identify issues early, ensuring the final product is both stable and high-quality.</p>
          <p class="service-text-mobile">Unit, integration and end-to-end testing.</p>
        </div>
      </div>

    </div>

  </section>
{% endblock content %}