{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Duewiger Projects - Services{% endblock title %}

{% block content %}
  <section class="services" id="services">
    <h2 class="heading">Services</h2>

    <div class="services-container">

      <div class="service-box">
        <div class="service-info">
          <h4>Backend Development</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At provident soluta itaque illum praesentium perferendis nobis ducimus ipsam temporibus! Harum deleniti voluptatibus similique reprehenderit incidunt magnam repellendus facilis aut cupiditate?</p>
        </div>
      </div>

      <div class="service-box">
        <div class="service-info">
          <h4>Frontend Development</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At provident soluta itaque illum praesentium perferendis nobis ducimus ipsam temporibus! Harum deleniti voluptatibus similique reprehenderit incidunt magnam repellendus facilis aut cupiditate?</p>
        </div>
      </div>

      <div class="service-box">
        <div class="service-info">
          <h4>Bug Fixes and Maintenance</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At provident soluta itaque illum praesentium perferendis nobis ducimus ipsam temporibus! Harum deleniti voluptatibus similique reprehenderit incidunt magnam repellendus facilis aut cupiditate?</p>
        </div>
      </div>

      <div class="service-box">
        <div class="service-info">
          <h4>Testing</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At provident soluta itaque illum praesentium perferendis nobis ducimus ipsam temporibus! Harum deleniti voluptatibus similique reprehenderit incidunt magnam repellendus facilis aut cupiditate?</p>
        </div>
      </div>

    </div>

  </section>
{% endblock content %}