{% extends '_base.html' %}
{% block content %}
<section class="success-section">
    <div class="content text-centered">
        <div class="success-message">
            <i class='bx bxs-check-circle'></i>
            <h2 class="heading-success">Success!</h2>
            <p class="text-content-large">
                Your message has been sent successfully.
            </p>
        </div>
    </div>
</section>

<script>
    "use strict";

    const redirectPage = () => {
        setTimeout(function () {
            window.location.href = "{% url 'contact' %}";
        }, 3000);
    }

    window.addEventListener('load', redirectPage);
</script>
{% endblock content %}